<header>
  <h1><a routerLink="/forum"><strong>ProCoders</strong><span> Share your knowledge</span></a></h1>
  <!--The navigation bar-->
  <app-navbar></app-navbar>
</header>

<!--The message displayed to the user -->
<app-message></app-message>

<!-- Acts as a placeholder that Angular dynamically fills based on the current router state. -->
<router-outlet></router-outlet>

<!--The footer of the page -->
<footer>
<div class="footer-content">
    <ul class="footer-nav">
        <li>Sara Moussa & Rima Ayusinta </li>
        <li><a href="mailto:Smoussa541@outlook.com">Contact</a></li>
    </ul>
    <div class="footer-text">
        © 2024 ProCoders. All rights reserved.
    </div>
</div>
</footer>