.unauthorized h2 {
  text-align: center;
  margin-top: 40;
  margin-bottom: 20px;
}
  
.unauthorized p {
  text-align: center;
  margin-bottom: 20px;
}
  
.unauthorized .login {
  display: block;
  width: 200px; 
  margin: 0 auto;
  margin-top: 30px; 
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff; 
  background-color: #e67e22;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
  
.unauthorized .login:hover {
  background-color: #d35400; 
}
  