<div class="forum">
  <header>
    <h1>Welcome <strong>{{ username }}</strong></h1>
    <button class="create-topic-button" (click)="openCreateTopicModal()">Create New Topic</button>
  </header>
  
  <div class="search-box">
    <input type="text" placeholder="Search" [(ngModel)]="searchQuery">
    <select [(ngModel)]="searchType">
      <option value="user">User</option>
      <option value="keyword">Keyword</option>
    </select>
    <button (click)="search(searchQuery, searchType)">Search</button>
    <button (click)="resetSearch()">Reset</button>
  </div>
 
  <div class="forum-rooms">
    <div class="room" *ngFor="let room of safeFilteredRooms">
        <h2 [innerHtml]="room.title">{{ room.title }}</h2>
        <p>{{ room.answersCount }} Answers</p>
        <a [routerLink]="['/room', room.id]">Go to Room</a>
    </div>
  </div>
</div> 

<!-- Modal for creating a new topic -->
<div class="modal" [ngClass]="{ 'modal-open': isModalOpen }">
  <div class="modal-content">
    <span class="close" (click)="closeCreateTopicModal()">&times;</span>
    <h2>New Topic</h2>
    <form #createTopicForm="ngForm" (ngSubmit)="onCreateRoom(createTopicForm)">
      <label for="topic">Topic:</label>
      <input type="text" id="topic" name="topic" [(ngModel)]="title" required>
      <label for="message">Message:</label>
      <textarea id="message" name="message" [(ngModel)]="message" required></textarea>
      <button type="submit" [disabled]="createTopicForm.invalid">Post</button>
    </form>
  </div>
</div>
