<div class="room-details">
  <div *ngIf="roomData">
    <h2>{{ roomData.title }}</h2>
    <p class="creator">by {{ roomData.creatorName }}</p>
    <p class="message" [innerHtml]="safeRoomMessage">{{ roomData.message }}</p>
    <div class="answer-box">
      <textarea [(ngModel)]="newAnswer" placeholder="Type your answer here"></textarea>
      <button (click)="sendAnswer()">Send Answer</button>
    </div>
    <div class="answers">
      <h3>Answers</h3>
      <ul>
        <li *ngFor="let answer of roomData.answers">
          <p>{{ answer.message }}</p>
          <p class="answer-creator">by {{ answer.username }}</p>
          <div class="actions">
            <button (click)="voteUp(answer)">Upvote</button>
            <span>{{ answer.votesLength }}</span>
            <button (click)="voteDown(answer)">Downvote</button>
            <button *ngIf="answer.username === currentUser?.username" (click)="deleteAnswer(answer.id)">Delete</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>