/* Room Details Styles */
.room-details {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
  background: #1c1c1e;
  color: #f5f5f5;
  font-family: 'Fira Code', monospace;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.room-details h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #e67e22;
}

.room-details .creator {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 20px;
}

.room-details .message {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.answer-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.answer-box textarea {
  width: 95%;
  height: 100px;
  padding: 10px;
  font-family: 'Fira Code', monospace;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #1c1c1e;
  color: #ffffff;
  transition: all 0.3s ease;
  resize: none;
}

.answer-box textarea::placeholder {
  color: #6c757d;
}

.answer-box button {
  align-self: flex-end;
  background-color: #e67e22;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-family: 'Fira Code', monospace;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.answer-box button:hover {
  background-color: #d35400;
}

.answers h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #e67e22;
}

.answers ul {
  list-style-type: none;
  padding: 0;
}

.answers li {
  background-color: #282828;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.answers li:hover {
  background-color: #333;
}

.answers li p {
  margin: 0 0 5px;
  line-height: 1.6;
}

.answers .answer-creator {
  font-size: 14px;
  color: #6c757d;
  margin-top: 5px;
  margin-bottom: 10px;
}

.answers .actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.answers .actions button {
  background-color: #1c1c1e;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  font-family: 'Fira Code', monospace;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.answers .actions button:hover {
  background-color: #333;
  color: #e67e22;
}

.answers .actions span {
  font-size: 16px;
  color: #ffffff;
}
